* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 1%;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuBtn span {
  width: 34px;
  height: 3px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
  border-radius: 2px;
}

.menuBtn span:nth-of-type(2) {
  top: calc(35% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(60% + 5px);
}

header {
  top: 0;
  position: fixed;
  right: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
  height: 100px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
header nav a:hover {
  color: rgba(0, 0, 255, 0.7);
}
header .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-right: 40px;
}
header .link a {
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
header .link a img {
  margin-top: 0px;
}
header .link a:hover {
  color: rgba(0, 0, 255, 0.7);
}
header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .logo a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
header .logo a img {
  margin-top: -20px;
  margin-left: 40px;
}
header .logo a:hover {
  color: rgba(0, 0, 255, 0.7);
}
header .logo p {
  margin-top: -30px;
  margin-left: 40px;
  font-weight: bold;
}

main {
  padding-top: 170px;
  margin-left: 60px;
}
main .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main .content .content-left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
main .content .content-left .about {
  width: 100%;
}
main .content .content-left .about h2 {
  font-size: 45px;
  font-weight: 500;
}
main .content .content-left .about p {
  margin-top: 40px;
  width: 500px;
  font-weight: 400;
  font-size: 20px;
}
main .content .content-left .about button {
  margin-top: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  font-size: 18px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
main .content .content-left .about button:hover {
  background-color: blue;
}
main .content .content-left .like {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
}
main .content .content-left .like .like-item {
  background-color: rgba(88, 88, 88, 0.2);
  padding: 20px;
  width: 250px;
  border-radius: 30px;
}
main .content .content-left .like .like-item p {
  margin-top: 10px;
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
}
main .content .content-right img {
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalogy {
  margin-top: 100px;
}
.catalogy h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
.catalogy p {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  color: rgba(88, 88, 88, 0.7);
}
.catalogy .catalogy-product .name {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.catalogy .catalogy-product .name button {
  border: none;
  background-color: rgba(88, 88, 88, 0);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.catalogy .catalogy-product .name button.active {
  color: rgba(0, 0, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 255, 0.7);
}
.catalogy .catalogy-product .name button:hover {
  border-bottom: 1px solid rgba(0, 0, 255, 0.7);
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.description a {
  text-decoration: none;
}
.description .description-product {
  transition: 1s;
}
.description .description-product:hover {
  transform: scale(1.1);
}
.description .description-product .item {
  background-color: rgba(88, 88, 88, 0.1);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  color: black;
}
.description .description-product .item h4 {
  font-size: 20px;
  font-weight: 200;
}
.description .description-product .item p {
  color: rgba(0, 0, 255, 0.7);
}

.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.product-button button {
  margin-top: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.product-button button:hover {
  background-color: blue;
}

.block-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 100px;
}
.block-text h2 {
  font-weight: 200;
}
.block-text p {
  width: 450px;
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  color: rgba(88, 88, 88, 0.9);
}

.consultation {
  background-color: rgba(88, 88, 88, 0.1);
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 50px;
  margin-top: 100px;
}
.consultation h2 {
  font-size: 35px;
  font-weight: 300;
}
.consultation p {
  font-size: 20px;
  width: 60%;
}
.consultation button {
  margin-top: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  font-size: 18px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.consultation button:hover {
  background-color: blue;
}

.form {
  background-color: red;
  height: 200px;
  width: 200px;
  position: fixed;
  top: 40%;
  left: 40%;
  bottom: 0%;
  display: none;
}

.delivery {
  margin-top: 120px;
  margin-right: 60px;
  border-radius: 50px;
  background-color: rgba(88, 88, 88, 0.1);
  background-image: url(https://static.tildacdn.com/tild3762-3464-4732-a338-326433316332/svg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}
.delivery .delivery-text {
  text-align: center;
  width: 50%;
}
.delivery .delivery-text h2 {
  font-size: 30px;
  font-weight: 500;
}
.delivery .delivery-text p {
  margin-top: 70px;
  font-size: 20px;
}
.delivery .delivery-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}
.delivery .delivery-imgLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.footer {
  background-color: rgba(0, 0, 255, 0.7);
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin-top: 100px;
}
.footer .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.footer .contact h1 {
  color: white;
  font-weight: 300;
}
.footer .contact a {
  text-decoration: none;
  color: white;
}
.footer .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.footer .link a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}/*# sourceMappingURL=style.css.map */