
  @media only screen and (max-width:1260px){ 
    .content{
      flex-wrap: wrap;
    }
    .content-left{
      width: 70%;
      align-items: center !important;
      justify-content: center !important;
    }
    .like{
      justify-content: center !important;
    }
  }
  
  @media only screen and (max-width:992px){
    nav{
      display: none;
    }
    header .link{
      gap: 50px;
    }
    header .link a:nth-of-type(2){
      display: none;
    }
    header .link a:nth-of-type(3){
      display: none;
    }
    .menuBtn{
      display: flex;
      z-index: 105;
    }
     nav.popUp{
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:flex-start;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      padding-top: 2%;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 45vw;
      animation-duration: 0.55s;  /* Время работы анимации */
      animation-fill-mode: both;  /* Поведение анимации */
      animation-name: fadeInDown;/* Имя анимации */
    } 
    header nav ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 30%;
    }
    nav ul a{
      color: white;
      font-size: 30px;
    }
    header nav .link{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 100px;
      gap: 50px;
    }
    header nav .link a{
      color: white;
      font-size: 20px;
      margin-left: 40px;
      
    }
    @keyframes fadeInDown { /* Сама анимация */
      0% {                /* Старт анимации */
          opacity: 0;
          transform: translate3d(100%, 0px, 0px);
      }
      100% {              /* в финале анимации - финал это заданная 0.55s */
          opacity: 1;
          transform: none;
      }
    }

    .show .product-show{
        width: 100%;
    }
    .show .result{
        width: 100%;
    }
    .container {
        width: 100% !important;
    }
  }




  @media only screen and (max-width:768px){ /*-------ГОТОВО-------*/
    main{
      margin-left: 0%;
      margin-right: 0%;
    }
 
    .footer{
      gap: 50px;
    }
  }



  /* МОБИЛКА*/
  @media only screen and (max-width:570px){  
    nav.popUp{
      width: 100vw;
    }
    .show .product-show .product-block{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .show{
        padding: 5px;
    }
    .show .product-show{
        padding: 5px;
    }
  }
  @media only screen and (max-width:400px){
    
  }
  @media only screen and (max-width:320px){
   
  }
  